# Desafio 2

In [1]:
import json
import pandas as pd

In [2]:
df = pd.read_csv("desafio1.csv")

Primeira versão

In [3]:
stats = {}
for i in ['SC', 'RS', 'PR']:
    col = df[df['estado_residencia'] == i]
    col = col['pontuacao_credito']
    stats[i] = {
        'moda': float(col.mode()[0]),
        'mediana': float(col.median()),
        'media': float(col.mean()),
        'desvio_padrao': float(col.std())
    }
stats

{'SC': {'moda': 850.0,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.233492793433},
 'RS': {'moda': 850.0,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.13659841383574},
 'PR': {'moda': 850.0,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309758}}

In [4]:
with open("submission.json", "w") as file:
    json.dump(stats, file)

Segunda versão, do code review de outro aluno

In [5]:
func = [lambda x: pd.Series.mode(x)[0], 'median', 'mean', 'std']
stats = df.groupby('estado_residencia')['pontuacao_credito'].agg(func)
columns = {'<lambda_0>':'moda', 'median':'mediana', 'mean':'media', 'std':'desvio_padrao'}
stats.rename(columns=columns, inplace=True)
stats

                   moda  mediana       media  desvio_padrao
estado_residencia
PR                  850      650  648.961294      98.607186
RS                  850      650  651.105143      95.136598
SC                  850      653  649.537653      97.233493

In [6]:
stats.to_json('submission2.json', orient='index')

Terceira versão, do code review de outro aluno

In [7]:
def get_stats(df):
    return {'moda': df.mode()[0], 'mediana': df.median(), 'media': df.mean(), 'desvio_padrao': df.std()}
df_group = df['pontuacao_credito'].groupby(df['estado_residencia']).apply(get_stats).unstack()
df_group

                    moda  mediana       media  desvio_padrao
estado_residencia
PR                 850.0    650.0  648.961294      98.607186
RS                 850.0    650.0  651.105143      95.136598
SC                 850.0    653.0  649.537653      97.233493

In [8]:
df_group.to_json('submission3.json', orient='index')